/*Variables Color*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99e2D0;
$color-bg-primary: #f6f6f6;
$color-bg-secondary: #eaeaea;
$color-bg-new: #99e2d0;
$color-new: #008766;
$color-footer: #353535;

/*Variables Media Query*/
$desktop : "only screen and (min-width : 1024px)";
$tablet : "only screen and (max-width : 1024px)";
$smartphone : "only screen and (max-width : 768px)";